# Deprecated Folder
deprecated/

# OS Files
**/.DS_Store
**/.DS_Store?

# vscode
.vscode

# env file
.env

# Vim files
*.sw[mnop]

# .pyenv files
.python-version

# pytest files
.pytest_cache/

# Jupyter files
*.ipynb_checkpoints

# Python build files
build/

# Rope Files
.ropeproject/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.envrc

# Data
out/

# Gdal and other image formats
*.tif
*.xml
*.shp
*.sbx
*.sbn
*.shx
*.prj
*.qpj
*.dbf
*.cpg
*.msk
*.kmz
*.jpg
*.wld
*.json

# Ignore logs
*.log

# Ignore notebooks and yml
0c_Create_an_AOI_CONUS_West.ipynb

#AOIs
!AOIs/tibet.geojson